/* GENERAL STYLING */
img {
    width: 300px;
    height: 300px;
}


/*  */
#cont-old {
    display: none;
}

#cont-high {
    display: none;
}

#cont-low {
    display: none;
}

/* DELETE. FOR UNDERSTANDING PURPOSES ONLY */
.album-div {
    border: 1px solid black;
} 