{% extends "rater/layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h2 id="profile-username">{{ profile.username }}</h2>

    <h5>Total ratings: {{ rating_count }}</h5>
    <h5>Average rating: {{ average }}</h5>

    <div id="ratings-cont">
        {% for rating in ratings %}
        <div id="rating-cont">
            <div>
                <img id="rating-img" src="{{ rating.album.img }}">
            </div>

            <div id="rating-data">
                <h5>
                    <a id="rating-user">
                        <strong>{{ rating.user.username }}</strong>
                    </a>
                </h5>

                <p>{{ rating.user.username }} gave {{ rating.rating }} stars to {{ rating.album.name }} </p>

                {% if rating.review %}
                        <p>
                            <i>"{{ rating.review }}"</i>
                        </p>
                {% endif %}
                
                <div id="rating-likes-date">
                    <p>{{ rating.datetime }}</p>

                    {% if rating in liked_ratings %}
                    <i class="bi bi-heart-fill" id="like-btn-{{ rating.id }}" data-rating-id="{{ rating.id }}"></i>
                    {% else %}
                        <i class="bi bi-heart" id="like-btn-{{ rating.id }}" data-rating-id="{{ rating.id }}"></i>
                    {% endif %}
                    <span class="like-count" id="like-count-{{ rating.id }}">{{ rating.likes }}</span>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No ratings yet!</p>
        {% endfor %}
    </div>

{% endblock %}